.dark-mode {
  --background_color: #232B32;
  --background_color_gray: #darkgray;
  --foregroung_main_color: #ffffff;
  --foregroung_blue_color: #59789a;
}

.popup h2 {
  color: var(--foregroung_main_color);
  background: var(--background_color);; /* Change the color to your desired color */
}

.popup button {
  padding: 8px 16px;
  margin-right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #0056b3;
}

.post-button {
  padding: 8px 16px;
  background-color: var(--foregroung_blue_color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

